
<div class="pages-wrap">
  <div class="pages-header">
    <pages-top></pages-top>
  </div>
  <div class="pages-body">
    <sidebar></sidebar>

    <div class="pages-content" (click)="setSideBarToggle()">

      <!-- <div [ngClass]="{'blurred': !sidebarToggle}"> -->
      <div>
        <content-top></content-top>
        <router-outlet></router-outlet>
        <notification></notification>
      </div>

    </div>

    <!-- <right-config></right-config> -->
  </div>
</div>
<loading [loading]="!showLoader"></loading>
