<div class="row">

  <div class="col-md-6">
    <card cardTitle="Class Categories" isCollapse="true">
      <div class="card-body">
        <app-class-categories></app-class-categories>
      </div>
      <div class="card-footer text-right pb-0">
        <a href="#/categeories/class-categeories" class="btn btn-primary ml-1 mr-1">Edit</a>
      </div>
    </card>
  </div>

  <div class="col-md-6">
    <card cardTitle="Subject Categories" isCollapse="true">
      <div class="card-body">
        <app-subject-categories></app-subject-categories>
      </div>
      <div class="card-footer text-right pb-0">
        <a href="#/categeories/subject-categeories" class="btn btn-primary ml-1 mr-1">Edit</a>
      </div>
    </card>
  </div>

</div>