<card cardTitle="Profile">
  <div class="row m-0" *ngIf="profile">
    <div class="col-sm-12 p-0">
      <div class="text-centered">
        <table class="table table-card-small table-bordered-thick table-bordered">
          <tbody>
            <tr>
              <td colspan="4" class="text-center">
                <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded-circle mx-auto"
                  *ngIf="profile?.imageUrl !== ''" [src]="profile.imageUrl" alt="">
                <img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded-circle mx-auto"
                  *ngIf="profile.imageUrl === '' || profile.imageUrl === null" src="assets/images/default-user.png"
                  alt="">
              </td>
            </tr>

            <tr>
              <td colspan="3">Reg No : <strong>{{profile.sequenceId}}</strong></td>
              <td><strong>4.3</strong></td>
            </tr>
            <tr>
              <td><strong>Name</strong></td>
              <td colspan="2">{{profile.name}}</td>
              <td><a>edit</a></td>
            </tr>
            <tr>
              <td><strong>Gender</strong></td>
              <td>{{profile.gender}}</td>
              <td><strong>Age</strong></td>
              <td>{{profile.age}} Years</td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="t-label">Qualification</span>
                <span class="d-none d-sm-inline-block">{{profile.qualification}}</span>
              </td>
              <td colspan="2">
                <span class="d-block d-sm-none">{{profile.qualification}}</span>
                <span class="d-none d-sm-inline-block">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  {{profile.location}}
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="t-label">Experiance</span>
                <span class="d-none d-sm-inline-block">{{profile.experience}} Years</span>
              </td>
              <td colspan="2">
                <span class="d-block d-sm-none">{{profile.experience}} Years</span>
                <span class="d-none d-sm-inline-block">
                  <i class="fa fa-mobile" aria-hidden="true"></i>
                  {{profile.mobile}}
                  <span *ngIf="profile.otpValidated" class="badge badge-success">Verified</span>
                  <span *ngIf="!profile.otpValidated" class="badge badge-danger">Not Verified</span>
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="t-label">Mode of Teaching</span>
                <span class="d-none d-sm-inline-block">
                  <span *ngFor="let type of profile.types; let idx = index;">
                    {{type.teacherType}}<span *ngIf="(idx+1) !== profile.types.length">,</span>
                  </span>
                </span>
              </td>
              <td colspan="2">
                <span class="d-block d-sm-none">
                  <span *ngFor="let type of profile.types; let idx = index;">
                    {{type.teacherType}}<span *ngIf="(idx+1) !== profile.types.length">,</span>
                  </span>
                </span>
                <span class="d-none d-sm-inline-block">
                  <i class="fa fa-whatsapp" aria-hidden="true"></i>
                  {{profile.whatsappNumber}}
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="t-label">Job Type</span>
                <span class="d-none d-sm-inline-block">{{profile.jobType}}</span>
              </td>
              <td colspan="2">
                <span class="d-block d-sm-none">{{profile.jobType}}</span>
                <span class="d-none d-sm-inline-block">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  {{profile.email}}
                </span>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <span class="t-label">Fluency in English</span>
                <span class="d-none d-sm-inline-block">{{profile.fluencyInEnglish}}</span>
              </td>
              <td colspan="2">
                <span class="d-block d-sm-none">{{profile.fluencyInEnglish}}</span>
              </td>
            </tr>

            <tr class="d-line-block d-sm-none">
              <td class="text-center">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </td>
              <td colspan="3">{{profile.location}}</td>
            </tr>
            <tr class="d-line-block d-sm-none">
              <td class="text-center">
                <i class="fa fa-mobile" aria-hidden="true"></i>
              </td>
              <td colspan="3">
                {{profile.mobile}}
                <span *ngIf="profile.otpValidated" class="badge badge-success">Verified</span>
                <span *ngIf="!profile.otpValidated" class="badge badge-danger">Not Verified</span>
              </td>
            </tr>
            <tr class="d-line-block d-sm-none">
              <td class="text-center">
                <i class="fa fa-whatsapp" aria-hidden="true"></i>
              </td>
              <td colspan="3">{{profile.whatsappNumber}}</td>
            </tr>
            <tr class="d-line-block d-sm-none">
              <td class="text-center">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </td>
              <td colspan="3">{{profile.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row m-0 mt-4" *ngIf="profile">
    <div class="col-md-12 d-flex justify-content-center align-items-center p-0">
      <button class="btn btn-primary ml-2 mr-2">Request A Callback</button>
      <button class="btn btn-primary ml-2 mr-2">Rate/Review</button>
    </div>
  </div>

  <div class="row m-0 mt-4" *ngIf="profile">
    <div class="col-md-12 p-0">
      <div class="heading1">Guarantor</div>
      <div style="overflow: scroll;" *ngIf="(profile.guarantor | json) !== ([] | json)">
        <table class="table table-bordered" id="classesAndSubjectTable">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Mobile</th>
              <th>Relation</th>
            </tr>
            <tr *ngFor="let guarantor of profile.guarantor">
              <td>{{guarantor.name}}</td>
              <td>{{guarantor.mobileNumber}}</td>
              <td>{{guarantor.relation}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center" *ngIf="(profile.guarantor | json) === ([] | json)">
        NA
      </div>
    </div>
  </div>

  <div class="row m-0 mt-4" *ngIf="profile">
    <div class="col-md-12 p-0">
      <div class="heading1">Address</div>
      <div style="overflow: scroll;" *ngIf="(profile.address | keyvalue)?.length">
        <table class="table table-bordered" id="classesAndSubjectTable">
          <tbody>
            <tr>
              <th>Current Address</th>
              <th>Permanent Address</th>
            </tr>
            <tr>
              <td>
                {{profile.address.currentAddress.line1}}
                <span *ngIf="profile.address.currentAddress.line1 !== ''">,</span>
                {{profile.address.currentAddress.line2}}
                <span *ngIf="profile.address.currentAddress.line2 !== ''">,</span>
                {{profile.address.currentAddress.line3}}
                <span *ngIf="profile.address.currentAddress.line3 !== ''">,</span>
                <br>
                {{profile.address.currentAddress.landmark}}
                <span *ngIf="profile.address.currentAddress.landmark !== ''">,</span>
                {{profile.address.currentAddress.city}}
                <span *ngIf="profile.address.currentAddress.city !== ''">,</span>
                <br>
                {{profile.address.currentAddress.state}}
                <span *ngIf="profile.address.currentAddress.state !== ''">,</span>
                {{profile.address.currentAddress.zipcode}}
              </td>
              <td>
                {{profile.address.permanentAddress.line1}}
                <span *ngIf="profile.address.permanentAddress.line1 !== ''">,</span>
                {{profile.address.permanentAddress.line2}}
                <span *ngIf="profile.address.permanentAddress.line2 !== ''">,</span>
                {{profile.address.permanentAddress.line3}}
                <span *ngIf="profile.address.permanentAddress.line3 !== ''">,</span>
                <br>
                {{profile.address.permanentAddress.landmark}}
                <span *ngIf="profile.address.permanentAddress.landmark !== ''">,</span>
                {{profile.address.permanentAddress.city}}
                <span *ngIf="profile.address.permanentAddress.city !== ''">,</span>
                <br>
                {{profile.address.permanentAddress.state}}
                <span *ngIf="profile.address.permanentAddress.state !== ''">,</span>
                {{profile.address.permanentAddress.zipcode}}
              </td>
            </tr>
            <tr>
              <td>
                <span class="text-center" *ngIf="(profile.address | json) == ({} | json)">
                  NA
                </span>
                <img *ngIf="(profile.address | json) !== ({} | json)" style="width:180px;height:130px"
                  [src]="profile.address.currentAddress.url">
              </td>
              <td>
                <img style="width:180px;height:130px" [src]="profile.address.permanentAddress.url">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="text-center" *ngIf="(profile.address | json) == ({} | json)">
        NA
      </div>
    </div>
  </div>

  <div class="row m-0 mt-4" *ngIf="profile">
    <div class="col-md-12 p-0">
      <div class="heading1">Classes And Subjects</div>
      <div style="overflow: scroll;" *ngIf="profile.mapping.length>0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Class Group</th>
              <th scope="col">Subject Master</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of objectKeys(profile.classSubjects); let idx = index;">
              <td>
                <span>{{key}}</span>
              </td>
              <td>
                <span *ngFor="let classSubject of profile.classSubjects[key]; let subidx = index;">
                  {{classSubject.subject}}<span *ngIf="(subidx+1) !== profile.classSubjects[key].length">,</span>
                </span>
              </td>
            </tr>
            <tr *ngIf="profile.mapping.length === 0">
              <td class="text-center" colspan="2">NA</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row m-0 mt-4" *ngIf="profile">
    <div class="col-md-12 p-0">
      <div class="heading1">Work Experience </div>
      <div class="table-responsive">
        <table class="table table-bordered" id="experienceTable">
          <tr>
            <td>Total Experiance</td>
            <td>{{profile.experience}} years</td>
          </tr>
          <tr *ngFor="let experience of profile.experiences;">
            <td *ngIf="experience.tutorType === 'HOME_TUTOR'"><strong>Home Tutor</strong></td>
            <td *ngIf="experience.tutorType === 'HOME_TUTOR'">
              From {{experience.fromDate}} To {{experience.toDate}}
            </td>
            <td *ngIf="experience.tutorType === 'ONLINE_TUTOR'"><strong>Online Tutor</strong></td>
            <td *ngIf="experience.tutorType === 'ONLINE_TUTOR'">
              From {{experience.fromDate}} To {{experience.toDate}}
            </td>
            <td *ngIf="experience.tutorType === 'TEACHING_AT_MY_PLACE'"><strong>At My Place</strong></td>
            <td *ngIf="experience.tutorType === 'TEACHING_AT_MY_PLACE'">From {{experience.fromDate}} To
              {{experience.toDate}}</td>
          </tr>

          <tr *ngIf="profile.experiences.length === 0">
            <td colspan="2" class="text-center">NA</td>
          </tr>

          <tr *ngIf="profile.experiences.length > 0">
            <td colspan="2" style="text-align: center;"><b>At Institute</b></td>
          </tr>
          <tr *ngFor="let experience of profile.experiences;">
            <td *ngIf="experience.tutorType === 'FACUTLTY_AT_INSTITUTE'">{{experience.institute}} </td>
            <td *ngIf="experience.tutorType === 'FACUTLTY_AT_INSTITUTE'">
              From {{experience.fromDate}} To {{experience.toDate}}
            </td>
          </tr>
          <tr *ngFor="let experience of profile.experiences;">
            <td *ngIf="experience.tutorType === 'FACUTLTY_AT_INSTITUTE'">Address</td>
            <td *ngIf="experience.tutorType === 'FACUTLTY_AT_INSTITUTE'">
              {{experience.address}}
            </td>
          </tr>
          <tr *ngFor="let experience of profile.experiences;">
            <td *ngIf="experience.tutorType === 'FACUTLTY_AT_INSTITUTE'">Position</td>
            <td *ngIf="experience.tutorType === 'FACUTLTY_AT_INSTITUTE'">{{experience.position}}</td>
          </tr>
          
          <tr *ngIf="profile.experiences.length > 0">
            <td colspan="2" style="text-align: center;"><b>At School</b></td>
          </tr>
          <tr *ngFor="let experience of profile.experiences;">
            <td *ngIf="experience.tutorType === 'FACULTY_AT_SCHOOL'">{{experience.institute}}</td>
            <td *ngIf="experience.tutorType === 'FACULTY_AT_SCHOOL'">
              From {{experience.fromDate}} To {{experience.toDate}}
            </td>
          </tr>
          <tr *ngFor="let experience of profile.experiences;">
            <td *ngIf="experience.tutorType === 'FACULTY_AT_SCHOOL'">Address</td>
            <td *ngIf="experience.tutorType === 'FACULTY_AT_SCHOOL'">
              {{experience.address}}
            </td>
          </tr>
          <tr *ngFor="let experience of profile.experiences;">
            <td *ngIf="experience.tutorType === 'FACULTY_AT_SCHOOL'">Position</td>
            <td *ngIf="experience.tutorType === 'FACULTY_AT_SCHOOL'">{{experience.position}}</td>
          </tr>                    
        </table>
      </div>
    </div>
  </div>

  <div class="row m-0 mt-4" *ngIf="profile">
    <div class="col-md-12 p-0">
      <div class="heading1">Preferred Locations</div>
      <div style="overflow: scroll;">
        <div class="table-responsive">
          <table class="table table-bordered" id="zipCodeTable">
            <tr>
              <td><b>Pin Code</b></td>
              <td><b>Location</b></td>
            </tr>
            <tr *ngFor="let zipCode of profile.zipCode; let idx = index;">
              <td>{{zipCode.zip}}</td>
              <td>{{zipCode.location}}
                <span *ngIf="zipCode.location === null || zipCode.location === ''">NA</span></td>
            </tr>
            <tr *ngIf="profile.zipCode.length === 0">
              <td class="text-center" colspan="2">NA</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0 mt-4" *ngIf="profile">
    <div class="col-md-12 p-0">
      <div class="heading1">Qualification</div>
      <div style="overflow: scroll;">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Qualification</td>
                <td class="col">
                  {{profile.qualification}}
                  <span *ngIf="profile.qualification === null || profile.qualification === ''">NA</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</card>