<div class="row">
    <div class="col-md-12">
        <card cardTitle="Edit Class Categories">
            <form [formGroup]="editClassCategoryForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6 form-group">
                    <label>Class ID</label>
                    <input type="text" formControlName="classId" class="form-control" 
                    [ngClass]="{ 'is-invalid': submitted && editClassCategoryForm.classId.errors }"
                    />
                    <div *ngIf="submitted && editClassCategoryForm.classId.errors" class="invalid-feedback">
                        <div *ngIf="editClassCategoryForm.classId.errors.required">classId is required</div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label>Class Name</label>
                    <input type="text" formControlName="className" class="form-control" [ngClass]="{ 'is-invalid': submitted && className.firstName.errors }"
                    />
                    <div *ngIf="submitted && editClassCategoryForm.className.errors" class="invalid-feedback">
                        <div *ngIf="editClassCategoryForm.className.errors.required">Class Name is required</div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <button [disabled]="loading" class="btn btn-primary">Update</button>
                </div>
            </form>
        </card>
    </div>
</div>