<div class="modal-header">
    <h4 class="modal-title pull-left">Add Class</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="editClassCategoryForm" (ngSubmit)="onSubmit()">
                <div class="col-md-6 form-group">
                    <label>Class Name</label>
                    <input type="text" formControlName="className" class="form-control"
                        [ngClass]="{ 'is-invalid': formControls.className.errors }" />
                    <div *ngIf="formControls.className.errors" class="invalid-feedback">
                        <div *ngIf="formControls.className.errors.required">Class Name is required</div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
                    <button class="btn btn-primary ml-2 mr-2">Update</button>
                </div>
            </form>

        </div>
    </div>
</div>