<div class="row">

  <div class="col-md-12">
    <card cardTitle="CLASS CATEGEORIES">
      <div class="pl-4">

        <ul class="tree" *ngIf="primaryCategories">
          <li *ngFor="let category of primaryCategories;let i = index;">
            <a (click)="isCollapse[i] = !isCollapse[i];hideme[i] = !hideme[i];">
              <span class="fa" [ngClass]="isCollapse[i] ? 'fa-minus' : 'fa-plus'"></span>
              <span class="ml-1" (click)="isCollapse[i] = isCollapse[i]; hideme[i] = hideme[i];">
                {{ category.name.split('(')[0] }}
              </span>
              <a class="ml-1" (click)="editCategory(category)"><span class="fa fa-edit"></span></a>
            </a>
            <div class="subtitle" *ngIf="category.name.split('(')[1]">
              <span>({{ category.name.split('(')[1] }}</span>
            </div>
            <ul class="ml-4" [hidden]="!hideme[i]">
              <li>
                <button class="btn btn-primary btn-sm mr-1" (click)="addClassToCategory(category, i)">Add Class</button>
              </li>
              <li *ngFor="let class of category.classes;let j = index;">
                <span class="mr-2">{{class.name}}</span>
                <a class="mr-1" (click)="editClassToCategory(class, i, j)"><span class="fa fa-edit"></span></a>
                <a class="ml-1" (click)="deleteClassToCategory(class, i, j)"><span class="fa fa-trash"></span></a>
              </li>
            </ul>
          </li>
          <li>
            <button *ngIf="!showAddCategory" class="btn btn-primary btn-sm mr-1"
              (click)="showAddCategory = !showAddCategory">Add
              Category</button>

            <div class="d-inline-flex" *ngIf="showAddCategory">
              <input type="text" class="form-control" value="" [(ngModel)]="addcategory" />
              <button class="btn btn-primary btn-sm mr-1" (click)="addCategory()">Save</button>
              <button class="btn btn-primary btn-sm mr-1" (click)="showAddCategory = !showAddCategory">Cancel</button>
            </div>
          </li>
        </ul>

      </div>

    </card>
  </div>
</div>