// Absolute Center loader
.loading {
  bottom: 0;
  height: 2em;
  left: 0;
  margin: auto;
  overflow: show;
  position: fixed;
  right: 0;
  top: 0;
  width: 2em;
  z-index: 999;

  // Transparent Overlay
  &::before {
    background-color: #000000;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    width: 100%;
  }

  &:not(:required) {
    &::after {
      border: 5px solid transparent;
      border-color: #000 transparent;
      border-radius: 50%;
      content: ' ';
      display: block;
      height: 46px;
      margin: 1px;
      width: 46px;
    }
  }
}


